body{
    
    text-align: center;
    font-family: monospace;
    font-size: 150%;
    margin:0px;
}
.webdev{
    font-weight: normal;
     margin-bottom: 0px;
}
h1{ 
    margin: 0;
    padding-top: 100px;
    padding-bottom: 0%;
    font-family: sacramento;
    font-size: 4rem;
    color: #66BFBF;

}
h2{ 
    
    font-family: monospace;
    color:#66BFBF;
}

h3{
    color: #11999E;

}
a{
    color: #11999E;
}
hr{
    width: 5%;
    border-style: dotted none none none;
    border-width: 10px;
    color:  rgb(204, 204, 204);
    margin: 10px auto 10px auto;
}
.top_container{
    background-color: #c2fdf6;

}
.top-cloud{
    position:absolute;
    left: 1025px;
    padding-top: 30px;
}
.bottom-cloud{
   position:absolute;
   left:350px;

}
.image-person{
    border-style:groove;
    border-radius: 15%;
    height: 200px;
    width: 200px;
    background-color: #FFB3B3;
}
.C-lang{
    height:200px;
    width:200px;
    float: left;
    margin-right: 50px;
}
.Java-Lang{
    height: 200px;
    width: 200px;
    float: right;
    margin-left: 50px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.middle-container{


   background-color: #ECF2F9;
}

.bottom-container{
    
    background-color: #66BFBF;
    padding-bottom: 40px;
}

.footer-link{
    display: inline;
}
.links{
    padding-top: 40px;
    height: 40px;
    width: 40px;
    margin:0 20px 0 20px;
}
.contact-me{
    line-height: 3;
}